[Unit]
Description=Slimbook demo service
After=network.target

[Service]
Type=simple
ExecStart=/usr/bin/python3 /usr/share/slimbook/event-notify.py
Restart=always

[Install]
WantedBy=multi-user.target
