Source: slimbook
Section: utils
Priority: optional
Maintainer: Slimbook <dev@slimbook.es>
Build-Depends: debhelper (>= 10)
Standards-Version: 4.1.4
Homepage: https://slimbook.es

Package: slimbook
Architecture: all
Pre-Depends: adwaita-icon-theme-full
Conflicts: neon-adwaita
Depends: ${misc:Depends}, python3-evdev, libnotify-bin, python3-zmq, python3-requests, python3-feedparser, python3-slimbook, libslimbook1, gir1.2-ayatanaappindicator3-0.1
Provides: slimbook-service 
Description: Service desisned for Slimbook hardware features among other.
 Includes notifications such as switch-preformance-mode in ProX models, 
 or double-tap enable/disable touchpad with led indicator.
