#!/usr/bin/make -f

PKGDIR=debian/tmp

%:
	dh $@ --with systemd

override_dh_installinit:
	dh_systemd_enable slimbook-service.service
	dh_systemd_start --no-restart-on-upgrade slimbook-service.service

override_dh_systemd_start:
	echo "Not running dh_systemd_start"
