[Desktop Entry]
Type=Application
Exec=/usr/bin/slimbookindicator
Hidden=false
NoDisplay=false
Name[es_ES]=Slimbook Client Autostart
Name=Slimbook Client Autostart
