[Desktop Entry]
Type=Application
Exec=/usr/bin/python3 /usr/share/slimbook/client.py --preferences
Icon=slimbook-be1ofus-light
Categories=Utility
Terminal=false
Hidden=false
NoDisplay=false
StartupNotify=true
Encoding=UTF-8
Name[ca_ES]=Servei Slimbook
Name[es_ES]=Slimbook Service
Name=Slimbook Service
